/* 资源概览---标签页样式 */
.toolbar{
	border: solid 1px #d1dbe5;
    /*display: flex;*/
    margin-top: 20px;
}
.toolbar-tag-top{
    background-color: #eef1f6;
    border-bottom: 1px solid #d1dbe5;
    width: 100%;
    display: inline-block;
    font-size: 0;
}
.toolbar-tag-top>span {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}
.toolbar-tag-top>span:hover{
    background-color: #c2cad4;
}
.toolbar-tag-top>.active{
    background: #fff;
    cursor: default;
    border-bottom: solid 1px #fff;
    margin: -1px 0;
}
.toolbar-tag-top>.active:hover{
    background-color: #fff;
}
#tagList{
	/*width: 85%;*/
}
#deper{
    padding: 2% 0;
    list-style: none;
}
.deper ul{
	position: relative;
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
.deper li {
    padding-left: 0;
    font-size: 14px;
    color: #aaa;
    margin: 10px 0;
    font-family: 'SimHei';
    font-weight: 100;
    padding-left: 15px;
}
.deper span {
    width: 100%;
    padding-right: 20px;
    font-size: 16px;
    cursor: pointer;
    color: #666;
    background-color: #fff;
    text-align: left;
    font-weight: 300;
}
.deper span i {
    color: #f00;
    font-size: 12px;
    font-style: normal;
    position: relative;
    color: #fff;
    background: #f00;
    text-align: center;
    display: inline-block;
    border-radius: 20px;
    padding: 1px 5px;
    margin-right: 5px;
    top: -8px;
    right: 4px;
}
.deper blockquote{
	position: relative;
    border: none;
    margin: 0;
}
.deper blockquote:before{
    content: "";
    width: 10px;
    height: 10px;
    background-color: #3367a8;
    position: absolute;
    top: 17px;
    left: 5px;
}

/* 信息系统表格样式-normal */
/*.main > .container{*/
    /*width: 100%;*/
/*}*/
/*.form-horizontal .form-group{*/
    /*padding: 0;*/
    /*margin: 0 0 10px 0;*/
/*}*/
.main-form fieldset{
    background-color: #f5f5f5;
}
.main-form fieldset>legend{
    background-color: #ccc;
    text-align: center;
}
.main-form .form-control{
    background-color: transparent;
    box-shadow: none;
}
.main-form textarea{
    min-height: 34px;
    resize: vertical;
}
.main-form .form-control[disabled],.main-form fieldset[disabled] .form-control{
    cursor: default;
    color: #444;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,.select2-container--default.select2-container--disabled .select2-selection--multiple{
    /*border: 1px solid #e5e6e7;*/
    background-color: transparent;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: transparent;
    color: #444;
    border-color: #999;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    margin-left: 2px;
    float: right;
    font-size: 18px;
    line-height: 20px;
}
/*.form-main-title{*/
    /*text-align: center;*/
/*}*/
/*.main-form .control-label{*/
    /*padding: 0;*/
    /*line-height: 1.2em;*/
/*}*/
.column-title{
    /*padding-left: 0;*/
    /*padding-right: 5px;*/
    /*line-height: 34px;*/
    text-align: right;
}
.ele-hide{
    display: none;
}

/* 信息系统表格样式-normal */

/* 信息系统表格样式-new */
/*.main > .container{
    width: 100%;
}

.form-horizontal .form-group{
    margin: 0;
}
.main-form{
    border: solid 1px #e4eaec;
}
.form-main-title{
    text-align: center;
}
.main-form .control-label{
    padding: 0;
    text-align: center;
    line-height: 1.2em;
    display: table-cell;
    vertical-align: middle;
}
.main-form .form-group {
    border-bottom: solid 1px #e4eaec;
    display: inline-block;
    padding: 0;
}
.main-form .form-control{
    border: none;
    background-color: transparent;
    box-shadow: none;
    margin-top: 0;
}
.main-form textarea.form-control{
    height: 74px;
}
.main-form fieldset{
    text-align: center;
}
.main-form fieldset>legend{
    margin-bottom: 0;
    border-bottom: solid 1px #e4eaec;
    background-color: #e4eaec;
}
.main-form select.form-control>option[value='']{
    color: #999;
}
.main-form .form-border-left{
    border-left: solid 1px #e4eaec;
}
.main-form .form-border-bottom{
    border-bottom: solid 1px #e4eaec;
}
.main-form .form-border-nobottom{
    border-bottom: none;
}
.main-form span.help-block{
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -10px;
    font-size: 14px;
}
.main-form .has-error .column-content{
    background-color: rgba(255,240,245,.7);
}
.column-title{
    padding: 0 3px;
    height: 40px;
    display: table;
    border-right: solid 1px #e4eaec;
    background-color: #f2f2f2;
}
.column-title-multiple{
    height: 80px;
}
.column-content{
    position: relative;
    padding-top: 2px;
    padding-bottom: 3px;
    padding-left: 0;
}
.form-contact{
    font-size: 0;
}
.form-input-inline{
    display: inline-block;
    width: 50%;
    font-size: 14px;
}*/
/* 信息系统表格样式-new */